@use "../../../styles/block57/breakpoints" as bp;

.grid {
  display: grid;
  gap: var(--b57-space-7) var(--b57-grid-gap);
  list-style: none;

  @include bp.up(md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include bp.up(lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: var(--b57-space-8);
  }
}

.item {
  display: flex;
}
